<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" >
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
  <div class="carousel-inner">
    <div class="carousel-item active" style="background: yellowgreen;" data-bs-interval="500">
<!--      <img src="./assets/carousel/istockphoto-1193671400-1024x1024_1.jpg" class="d-block w-100" alt="...">-->
    </div>
    <div class="carousel-item" style="background: green;" data-bs-interval="500">
<!--      <img src="./assets/carousel/istockphoto-900144946-1024x1024_1.jpg" class="d-block w-100" alt="...">-->
    </div>
    <div class="carousel-item"  style="background: greenyellow;" data-bs-interval="500">
<!--      <img src="./assets/carousel/istockphoto-1257153929-1024x1024_1.jpg" class="d-block w-100" alt="...">-->
    </div>
  </div>
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
</div>
