<div class="row">
  <div class="col-sm-12">
    <div class="card border-info text-end">
      <div class="row g-0">
        <div class="col-md-4 text-bg-info"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Your First Step Towards Investment </h3>
            <p class="card-text">Some descriptions of 70-100 words.</p>
            <a href="#" class="btn btn-info">Open Demat Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card border-secondary">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Know More About Investing In Stocks</h3>
            <p class="card-text">Some descriptions of 70-100 words.</p>
            <a href="#" class="btn btn-secondary">Start Investing</a>
          </div>
        </div>
        <div class="col-md-4 text-bg-secondary"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card border-success text-end">
      <div class="row g-0">
        <div class="col-md-4 text-bg-success"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Want to Start Trading with zero knowledge & free of cost?</h3>
            <p class="card-text">Some descriptions of 70-100 words.</p>
            <a href="#" class="btn btn-success">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

