body {
    /*padding-top: 72px;*/
    padding: 72px 20px;
}

#heroCarousel .carousel-inner {
    /*display: flex;*/
}

#heroCarousel .carousel-item {
    /*text-align: center;*/
    /*width: 100%;*/
    height: 200px;
    /*margin: auto;*/
    border-radius: 8px ;
}
.hero-carousel {
    padding: 20px 0;
    border-radius: 8px;
}

.sections .card { margin-bottom: 20px; }
